API_BASE_URL=
APP_BASE_URL=
APP_VERSION=
DEVELOPERS_BASE_URL=
DOCS_BASE_URL=
ISSUER_ACCESS_CODE=
ISSUER_BASE_URL=
LOG_LEVEL=
QRV_API_BASE_URL=
QRV_PLATFORM_API_KEY=
QRV_PLATFORM_ORIGIN=
REGISTRY_BASE_URL=
SESSION_SECRET=
SESSION_TTL_MS=
STATUS_BASE_URL=
VERIFY_BASE_URL=